<html>
  <head>
    <title>Battle</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Player Names</h1>
    <p>
      Player 1 vs Player 2
    </p>
    <p>
      <%= @player_1_name%> vs <%= @player_2_name%>
    </p>
    <p>
      <%= @player_2_name%>'s hit points: 10
    </p>

    <p>
      <form action="/attack" method="get">
        <input type="submit" value="attack" />
      </form>
    </p>
  </body>
</html>
