<html>
  <head>
    <title>Battle</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Player Names</h1>
    <p>
      Player 1 vs Player 2
    </p>
    <p>
      <%= @player1%> vs <%= @player2%>
    </p>
  </body>
</html>
